.img-left {
  float: left;
  padding: 10px;
}

.img-right {
  float: right;
  padding: 10px;
}
.sidebar {
  float: right;
}

.sidebar-box {
  border: 2px solid black;
  padding: 3px;
  margin: 4px;
  background-color: grey;
}
